ion-button {
    width: 50vw;
    height: 25vh;
    margin-top:1em;
    margin-bottom:1em;
}
.button-container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}